Okay, so here I'm going to trying 'joining' the couple of Really Large Files that I have for the GaiaDR1xWISEW4 stuff. 
Wish me luck.

In [1]:
import numpy  as np
import pandas as pd

In [2]:
#path = '/cos_pc19a_npr/data/WISE/W4/'
file = 'WISE_W4_DecOrdered.dat'
#file = 'WISE_W4_DecOrdered_first100.dat'
col_names=['W4_no', 'RA', 'Decl']

In [3]:
## https://stackoverflow.com/questions/22809061/read-space-separated-data-with-pandas

In [4]:
df = pd.read_csv(file, sep='\s+', names=col_names)

In [5]:
print(len(df))

40939966

In [6]:
#df

In [7]:
#coll_names=['int', 'Gaid_ID', 'W4_no', 'radius']

In [8]:
#ingaia = pd.read_csv('GaiaDR1xWISEw4_10as_noDupes_sorted_top100.csv', names=coll_names )
#ingaia = pd.read_csv('GaiaDR1xWISEw4_10as_noDupes_sorted_top100.csv')
ingaia = pd.read_csv('GaiaDR1xWISEw4_10as_noDupes_sorted.csv')
#ingaia = pd.read_csv('GAIADR1xWISE_W4-10as_000Dec002.csv')

In [9]:
print(len(ingaia))

24671865

In [10]:
#ingaia

In [11]:
#s_left = pd.merge(df, ingaia, how='left', on=['W4_no'])
s_outer = pd.merge(df, ingaia, how='outer', on=['W4_no'])

In [12]:
print(len(s_outer))
print(40939966+515120)

40939966
41455086

In [19]:
dff = s_outer[(s_outer['W4_no'] >= 17994100) & (s_outer['W4_no'] <= 17994120)]

In [20]:
dff

             W4_no          RA      Decl  Unnamed: 0       Gaia_ID    radius
17994100  17994100  209.289890  0.000070         NaN           NaN       NaN
17994101  17994101  280.430898  0.000069  52062053.0  4.272451e+18  0.070556
17994102  17994102  277.084414  0.000069         NaN           NaN       NaN
17994103  17994103   83.510870  0.000069  52062052.0  3.220860e+18  0.005779
17994104  17994104  251.388592  0.000068         NaN           NaN       NaN
17994105  17994105  123.994346  0.000067         NaN           NaN       NaN
17994106  17994106  127.113949  0.000063         NaN           NaN       NaN
17994107  17994107    4.788617  0.000057         NaN           NaN       NaN
17994108  17994108  203.145019  0.000055         NaN           NaN       NaN
17994109  17994109  322.210874  0.000054         NaN           NaN       NaN
17994110  17994110  285.133511  0.000053  52062047.0  4.265803e+18  0.130637
17994111  17994111  151.267355  0.000049         NaN           NaN       NaN
17994112  17994112   20.671238  0.000048         NaN           NaN       NaN
17994113  17994113   87.768109  0.000048  52062046.0  3.218749e+18  0.024697
17994114  17994114  279.801660  0.000045  52062044.0  4.272556e+18  0.129685
17994115  17994115  288.657786  0.000037  52062041.0  4.264009e+18  0.126105
17994116  17994116   87.189246  0.000027         NaN           NaN       NaN
17994117  17994117  278.111872  0.000026  52062040.0  4.272981e+18  0.162255
17994118  17994118  280.487033  0.000021  52062039.0  4.272450e+18  0.004267
17994119  17994119   84.964862  0.000018         NaN           NaN       NaN
17994120  17994120  281.260641  0.000008         NaN           NaN       NaN